<%= link_to("<< Go to Cuisines List", cuisines_path, :class => 'back-line') %>

<div class="cuisine new">
  <h2>Create Cuisine</h2>

  <%= form_for(@cuisine, :url => cuisines_path) do |f| %>

    <%= render(:partial => 'cuisine_form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Cuisine") %>
    </div>
  <% end %>
</div>