<%= link_to("<< Back to List", restaurant_index_path, :class => 'back-line') %>

<div class="restaurant edit">
  <h2>Update Restaurant</h2>

  <%= form_for(@restaurant) do |f| %>
    <%= render(:partial => 'restaurant_form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Restaurant") %>
    </div>
  <% end %>
</div>