<%= link_to("<< Back to List", restaurant_index_path, :class => 'back-line') %>

<div class="restaurant new">
  <h2>Create Restaurant</h2>

  <%= form_for(@restaurant, :url => restaurant_index_path) do |f| %>

    <%= render(:partial => 'restaurant_form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Restaurant") %>
    </div>
  <% end %>
</div>