:root {
    --bar-color: #464646;
}

.dynamic-bar {
    width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-input-bar {
    height: 30px;
    width: 90%;
    font-size: 15px;
    background-color: var(--bar-color);
    border: none;
    color: white;
}

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
}

.filter-option {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

#main-selection select {
    border: 0;
    color: #eee;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 10px;
    width: 228px;
    -webkit-appearance: none;
}

#main-selection {
    overflow:hidden;
    width:200px;
    background: var(--bar-color) url("../images/15xvbd5.png") no-repeat scroll 169px center;
}

.rounded {
    border-radius: 9px;
}

.shadow {
    box-shadow: 1px 1px 11px #330033;
}

select:focus, input:focus {
    outline: none;
    border: none;
}