.map-container {
    padding-top: 10px;
    height: 950px;
    width: 100%;
}

.restaurant-details {
    width: 200px;
    height: 80px;
    background-color: #eaebed;
    color: #444;
    text-align: center;
    border-style: ridge;
}