<%= present_errors(f.object) %>

<table summary="Review from fields">
  <tr>
    <th>Summary</th>
    <td><%= f.text_field(:summary) %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= f.select(:rating, 0..3) %></td>
  </tr>
  <tr>
    <th>Write you opinion</th>
    <td><%= f.text_field(:full_review) %></td>
  </tr>
</table>